@charset "UTF-8";

/* 品牌櫥窗 主選單-----------------------------------------------------------------------------------------------------------------------------------*/
a:hover {
	color: #05398c;
	
}

.active_link a {
	color: #05398c;
}



/* 品牌櫥窗 section 標題-----------------------------------------------------------------------------------------------------------------------------------*/
.brand_section_title {
	border-bottom: #05398c solid 2px;
}

.brand_section_name {
	background-color: #05398c;
	color: #FFF;
}


/* 品牌櫥窗 時間更新 -----------------------------------------------------------------------------------------------------------------------------------*/

.brand_update {
	background-color: #05398c;
	color: #FFF;	
	
}


/* 品牌情報 主視覺 dot --------------------------------------------------------------------------------------------------------------------------------------*/
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #05398c;
}


/* 品牌情報 品牌要素--------------------------------------------------------------------------------------------------------------------------------------*/
.brand_element ul li span {
	background-color: #05398c;
	color: #FFF;
	
}


/* 品牌情報 好康快訊 -----------------------------------------------------------------------------------------------------------------------------------*/
.brand_goodnews ul li:hover {
	background-color: #FFF;
	color: #05398c;	
}

/* 品牌情報 HOT NEWS -----------------------------------------------------------------------------------------------------------------------------------*/
.pe-thumbs li a div.pe-description p {
	color: #05398c;
}

/* 品牌情報 TAB -----------------------------------------------------------------------------------------------------------------------------------*/

.brand_rank_tabs .ui-state-active a {
	color: #fff;
	background-color: #05398c; 
}	


/* 產品列表 搜尋選項 --------------------------------------------------------------------------------*/
.brand_product_search_option {
  	background-color: #05398c;
}

.brand_product_search_option a {
	color: #FFF;
}

.brand_product_search_option a:hover {
	color: #05398c;
	background-color:#FFF;
}

/* 產品列表 搜尋選項 TAB --------------------------------------------------------------------------------*/
.brand_product_search_section .ui-state-active a {
	color: #fff;
	background-color: #05398c; 
}

.brand_product_search_result_nav .ui-state-active img {
	background-color: #05398c; 
}

.brand_product_search_result_nav .ui-state-active a {
	color: #05398c;
}
		