@charset "UTF-8";
/* CSS Document */

/* 產品列表 搜尋 Block --------------------------------------------------------------------------------*/

.brand_product_search_section {
	margin: 25px 20px;
	font-size: 15px;
	
}

	/* 產品列表 搜尋 NAV --------------------------------------------------------------------------------*/

	.brand_product_search_nav li {
		float: left;
		margin-bottom: 25px;
	}
	
	.brand_product_search_nav li a {
		display: block;
		width: 465px;
		border: #fff solid 1px;		
		background-color: #efefef;
		text-align:center;
		padding: 5px 1.8px;
		letter-spacing: 1px;
		margin-left: -1px;
		
	}
	
	.brand_product_search_nav li a img {
		margin-right: 5px;
	}
	
		
		/* 產品列表 搜尋選項 --------------------------------------------------------------------------------*/
		.brand_product_search_option {
			padding: 10px;
		}
		.brand_product_search_option a {
			display: block;
			width:220px;
			padding-left: 5px;
		}
		
		
			/* 產品列表 按屬性搜尋  --------------------------------------------------------------------------------*/
			.brand_product_attribute_nav li {
				float: left;
			}
			
			.brand_product_attribute_nav li a {
				display: block;
				border: #fff solid 1px;
				background-color: #efefef;
				width: 100px;
				text-align: center;
				padding: 5px 1.6px;
				margin-left:-1px;
			}
		
/* 產品列表 搜尋結果 --------------------------------------------------------------------------------*/

.brand_product_search_result_section {
	margin: 25px 20px;
	font-size: 15px;
}

	/* 產品列表 搜尋結果 filter nav --------------------------------------------------------------------------------*/
	.brand_product_search_result_nav li {
		float: left;
	}
	
	.brand_product_search_result_nav li a {
		display: block;
		border: #CCC solid 1px;
		width: 214px;
		height: 30px;
		margin-right: -1px;
		padding:7px 9.9px 0;
		

		
	}
	
		/* 產品列表 搜尋結果 filter check --------------------------------------------------------------------------------*/
		.brand_product_search_result_nav img {
			background-color: #efefef;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			margin-right: 5px;
 
		}
		
		
		/* 產品列表 搜尋結果 產品 --------------------------------------------------------------------------------*/
		.brand_products {
			border: #CCC solid 1px;
			border-top: none;
			padding: 10px;
		}
		
		.brand_product_list {
			display:block;
			float: left;
			padding: 12px 11.2px;
		}
		
		.brand_product_list li {
			width: 185px;
		}
		
		.brand_product_filter {
			float: right;
			margin: 10px;
		}
		
		

		


