@charset "UTF-8";
/* CSS Document */

/* 品牌情報 */

.brand_window_logo {
  background-image: url('../images/brand_window_logo.gif');
  display:block;
  width: 192px;
  height: 48px;
  
}

.icon_mynews {
  background-image: url('../images/icon_mynews.gif');
  display: block;
  width: 47px;
  height: 19px;
  float: left;
  margin-right: 5px;
  
}

.fb_connect {
  background-image: url('../images/fb_connect_bt.gif');
  display: block;
  width: 14px;
  height: 13px; 
  
}

.y_connect {
  background-image: url('../images/y_connect_bt.gif');
  display: block;
  width: 23px;
  height: 13px;
  
}


.icon_product {
  background-image: url('../images/icon_product.png');
}

.icon_review {
  background-image: url('../images/icon_review.png');
}

.icon_buy {
  background-image: url('../images/icon_buy.png');
}

.icon_wish {
  background-image: url('../images/icon_wish.png');
}

.icon_facebook_footer {
  background-image: url('../images/icon_facebook_footer.png');
}

.icon_location_footer {
  background-image: url('../images/icon_location_footer.png');
}

.icon_search {
  background-image: url('../images/icon_search.png');
}

.icon_face {
  background-image: url('../images/icon_face.png');
}

.icon_cosmetic {
  background-image: url('../images/icon_cosmetic.png');
}

.icon_body {
  background-image: url('../images/icon_body.png');
}

.icon_hair {
  background-image: url('../images/icon_hair.png');
}

.icon_tool {
  background-image: url('../images/icon_tool.png');
}

.icon_perfume {
  background-image: url('../images/icon_perfume.png');
}

.icon_men {
  background-image: url('../images/icon_men.png');
}

.icon_baby {
  background-image: url('../images/icon_baby.png');
}

.icon_pill {
  background-image: url('../images/icon_pill.png');
}

.icon_check {
  background-image: url('../images/icon_check.png');
}

.icon_filter {
  background-image: url('../images/icon_filter.png');
}

.icon_pin {
  background-image: url('../images/icon_pin.png');
}

