@charset "UTF-8";

/* 品牌櫥窗 主選單-----------------------------------------------------------------------------------------------------------------------------------*/
a:hover,
.active_link a  {
	color: #05398c;
	
}



/* 品牌櫥窗 block 標題-----------------------------------------------------------------------------------------------------------------------------------*/
.brand_block_title {
	border-bottom: #05398c solid 2px;
}

.brand_block_name {
	background-color: #05398c;
	color: #FFF;
}


/* 品牌櫥窗 時間更新 -----------------------------------------------------------------------------------------------------------------------------------*/

.brand_update {
	background-color: #05398c;
	color: #FFF;	
	
}


/* 品牌情報 主視覺 & 特別企劃歷史回顧 slider dot --------------------------------------------------------------------------------------------------------------------------------------*/
.brand_kv .bx-wrapper .bx-pager.bx-default-pager a:hover,
.brand_kv .bx-wrapper .bx-pager.bx-default-pager a.active,
.brand_promotion_history .bx-pager.bx-default-pager a:hover,
.brand_promotion_history .bx-pager.bx-default-pager a.active {
	background: #05398c;
}


/* 品牌情報 品牌要素--------------------------------------------------------------------------------------------------------------------------------------*/
.brand_element ul li span {
	background-color: #05398c;
	color: #FFF;
	
}


/* 品牌情報 好康快訊 -----------------------------------------------------------------------------------------------------------------------------------*/
.brand_goodnews ul li:hover {
	background-color: #FFF;
	color: #05398c;	
}

/* 品牌情報 HOT NEWS -----------------------------------------------------------------------------------------------------------------------------------*/
.pe-thumbs li a div.pe-description p {
	color: #05398c;
}

/* 品牌情報 UrCosme 會員專屬限定--------------------------------------------------------------------------------------------------------------------------*/
.brand_member_only_content button:hover {
  color: #05398c;
  background-color: #FFF;
}

/* 品牌情報 TAB -----------------------------------------------------------------------------------------------------------------------------------*/

.brand_rank_tabs .ui-state-active a {
	color: #fff;
	background-color: #05398c; 
}	


/* 產品列表 搜尋選項 --------------------------------------------------------------------------------*/
.brand_product_search_option {
  background-color: #05398c;
}

.brand_product_search_option a {
	color: #FFF;
}

.brand_product_search_option a:hover {
	color: #05398c;
	background-color:#FFF;
}

/* 產品列表 搜尋選項 TAB --------------------------------------------------------------------------------*/
.brand_product_search_block .ui-state-active a {
	color: #fff;
	background-color: #05398c; 
}

.brand_product_search_result_nav .ui-state-active i {
	background-color: #05398c; 
}

.brand_product_search_result_nav .ui-state-active a {
	color: #05398c;
}


/* 通路資訊 --------------------------------------------------------------------------------*/

  /* 選擇地區選擇縣市 DROP DOWN　HOVER */
  #jlocator .drop-down ul li:hover{
    background-color: #05398c;
    color: #fff;
  }
 
  /* pagination */
  #jlocator .paging span.current{
    font-weight: bold;
    color: #fff;
    background-color: #05398c;
  }
  
  /* stores */
  #jlocator .store p:hover,
  #jlocator .store p:hover span.title,
  #jlocator .store .active {
    background-color: #05398c;
    color: #FFF;
    font-weight: bold;
  }
  
  
  #jlocator .title,
  #jlocator .info-window .store p:hover span.title {
    color: #05398c;
  }
  

/* 品牌特企 --------------------------------------------------------------------------------*/
.brand_promotion_month li:first-child {
  color: #05398c;
}

.brand_promotion_month .ui-state-active a {
	background-color: #05398c;
	color: #FFF;
}

.brand_promotion_month .ui-state-active a:after {
  border-color: #05398c transparent;
}
 
 
 
 
 
 
   