@charset "UTF-8";
/* CSS Document */

/* 品牌情報 */


.icon_product {
  background-image: url('../images/icon_product.png');
}

.icon_review {
  background-image: url('../images/icon_review.png');
}

.icon_buy {
  background-image: url('../images/icon_buy.png');
}

.icon_wish {
  background-image: url('../images/icon_wish.png');
}

.icon_facebook_footer {
  background-image: url('../images/icon_facebook_footer.png');
}

.icon_location_footer {
  background-image: url('../images/icon_location_footer.png');
}

.icon_search {
  background-image: url('../images/icon_search.png');
}

.icon_face {
  background-image: url('../images/icon_face.png');
}

.icon_cosmetic {
  background-image: url('../images/icon_cosmetic.png');
}

.icon_body {
  background-image: url('../images/icon_body.png');
}

.icon_hair {
  background-image: url('../images/icon_hair.png');
}

.icon_tool {
  background-image: url('../images/icon_tool.png');
}

.icon_perfume {
  background-image: url('../images/icon_perfume.png');
}

.icon_men {
  background-image: url('../images/icon_men.png');
}

.icon_baby {
  background-image: url('../images/icon_baby.png');
}

.icon_pill {
  background-image: url('../images/icon_pill.png');
}

.icon_check {
  background-image: url('../images/icon_check.png');
}

.icon_filter {
  background-image: url('../images/icon_filter.png');
}

.icon_pin {
  background-image: url('../images/icon_pin.png');
}

