@charset "UTF-8";

/* 品牌櫥窗 主選單-----------------------------------------------------------------------------------------------------------------------------------*/
a:hover {
	color: #05398c;
	
}

article a {
	color: #05398c;
}

/* 品牌櫥窗 主視覺 dot --------------------------------------------------------------------------------------------------------------------------------------*/
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #05398c;
}


/* 品牌櫥窗 品牌要素--------------------------------------------------------------------------------------------------------------------------------------*/
.brand_element ul li span {
	background-color: #05398c;
	color: #FFF;
	
}


/* 品牌櫥窗 section 標題-----------------------------------------------------------------------------------------------------------------------------------*/
.brand_section_title {
	border-bottom: #05398c solid 2px;
}

.brand_section_name {
	background-color: #05398c;
	color: #FFF;
}


/* 品牌櫥窗 好康快訊 -----------------------------------------------------------------------------------------------------------------------------------*/
.brand_goodnews ul li:hover {
	background-color: #FFF;
	color: #05398c;	
}

/* 品牌櫥窗 HOT NEWS -----------------------------------------------------------------------------------------------------------------------------------*/
.pe-thumbs li a div.pe-description p {
	color: #05398c;
}

/* 品牌櫥窗 時間更新 -----------------------------------------------------------------------------------------------------------------------------------*/

.brand_update {
	background-color: #05398c;
	color: #FFF;	
	
}
		