@charset "UTF-8";
/* CSS Document */

/* 共用----------------------------------------------------------------------------------------------------------------------------------------*/

p, a, td, th, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, select, input, textarea, button {
	font-family: "微軟正黑體",Verdana,Arial,Helvetica,sans-serif;
}

a:link {
	text-decoration: none;
}

.active_link,
.active_link a {
	text-decoration: underline; 
	font-weight:bold;
}

.alignCenter {
	text-align: center;
}

.brand_window_block {
	margin: 25px 20px;
	font-size: 15px;
  *padding: 15px 20px;
  *margin: 0px;
	
}

/* 品牌櫥窗 Header */
#headerpage {
  border-top: none;
  margin: 0 10px;
}

/* 品牌櫥窗 LOGO */
#headerpage .headerpageBrandWindowBlock {
  margin: 1em 0.5em 0 0;
  float: left;
  width: 40%;
}


#headerpageHelpBlock {
	width: 980px;
	letter-spacing: 1px;
	
}

/* UrCosme 會員登入 */

.headerpageMemberBlock {
  display: block;
  border: #CCC solid 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
}

.headerpageMemberBlock input[type=text], 
.headerpageMemberBlock input[type=password] {
  width: 113px;
}

.headerpageMemberBlock input {
  background-color: #FFF;
  border: #CCC solid 1px;
  cursor: pointer;
  
}

#headerpage .headerpageMemberBlock p {
  padding: 0.5em;
}

#headerpage .headerpageMemberBlock h3 {
  padding: 0.5em 0 0.2em;
}

#headerpage .headerpageMemberBlock h4 span {
  padding-right: 0.5em;
}

.headerpageMemberBlock .logout {
  float: right;
  margin-left: 5px\9;
  *margin-top: -22px;
}

#headerpage .headerpageMemberBlock h5 span {
  float: left;
  width: 32%;
  display: block;
}

#headerpage .headerpageMemberBlock h5 span i {
  float: right;
  *margin-top: -15px;
}

.forget {
  text-decoration: underline;
  text-align: center;
}

.social_network {
  width: 75px !important;
}






	/* 品牌櫥窗 麵包屑-----------------------------------------------------------------------------------------------------------------------------------*/
	.brand_breadcrumb {
		margin: 10px 0 0 10px;
		letter-spacing: 1px;
	}
	.brand_breadcrumb li {
		float: left;
	}

	/* 品牌櫥窗 block 標題-----------------------------------------------------------------------------------------------------------------------------------*/
	.brand_block_title {
		border-bottom: #CCC solid 2px;
	}
	
	
	.brand_block_name {
		float:left;
		display:block;
		padding: 3px 10px;
		font-size: 15px;
		letter-spacing: 1px;
		background-color: #CCC;
		color: #FFF;
    
	}
	
	.brand_block_more {
		float:right;
		margin: 3px;
		font-size: 12px;
		letter-spacing: 1px;
	}
	
	/* 品牌櫥窗 產品 -----------------------------------------------------------------------------------------------------------------------------------*/
	
	.brand_product {
		padding: 5px 10px;
		border: #CCC solid 1px;
		margin-top: -1px;
	}
	
	
	.brand_product_value {
		font-size: 12px;
		color: #CCC;
	}
	
	.brand_product_value img {
		vertical-align: middle;
	}
  
  .brand_price {
    display: block;
    float: left;
    border-right: #CCC solid 1px;
    
  }
  
  .product_action {
    float: right;
    margin-left: 3px;
  }
  
  .product_action i {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;

  }
  
  .product_action .icon_wish_color {
  	float: right;
  	margin-top: -20px;
  }
	
	
	/* 品牌櫥窗 date update -----------------------------------------------------------------------------------------------------------------------------------*/
	
	.brand_update {
		position: absolute;
		right: 0px;
		font-size: 12px;
		padding: 1px 5px;
		letter-spacing: 1px;
	}



/* 品牌櫥窗 container-----------------------------------------------------------------------------------------------------------------------------------*/

.brand_container {
  background-color: #FFF;
	width: 980px;
	margin: auto;
  box-shadow: 0 0 5px #CCCCCC;
  border-top: #CCC solid 1px;#footerpage
	
}

	/* 品牌櫥窗 header-----------------------------------------------------------------------------------------------------------------------------------*/
	.brand_headerpage {
		margin: 0px;
    padding: 0 1em;
	}
	
	.brand_headerpage .brand_headerpageLogoBlock {
		float: left;
		margin-bottom: 0.5em;
		margin-right: 0.2em;
		padding-top: 1.5em;
	}
	
		
		/* 品牌櫥窗 主選單-----------------------------------------------------------------------------------------------------------------------------------*/
		.brand_headerpageNav {
			float: right;
			margin: 40px 0 0 0;
			letter-spacing: 0.5px;
		}
		
		.brand_headerpageNav li {
			float: left;
			display: block;
			width: 120px;
			border-left: #CCC solid 1px;
			text-align:center;			
			font-size: 15px;			
		}
		
		
		
		
	/* 品牌櫥窗 footer--------------------------------------------------------------------------------------------------------------------------------------*/
	
	.brand_footer img {
		vertical-align: middle;
    margin-right: 5px;
	}
  
  .brand_footer i {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 80px;
  }
	
	
	.brand_footer ul li {
		float:left;
		margin-left: -1px;

	}
	
	.brand_footer ul li a{
		display:block;
		border: #CCC solid 1px;
		width: 312px;
    height: 55px;		
		padding: 10px 0;
		background-color: #f7f8f8;
    line-height: 3.5em;
	}
	
	.brand_footer ul li a:hover {
		background-color: #FFF;
	}
	
	
				
		
		



	/* UrCosme footer--------------------------------------------------------------------------------------------------------------------------------------*/
	
	
	#footerpage {
		background: #FFF;
		clear: both;
		width: 980px;
		letter-spacing: 1px;
	}
	
	#footerpage .brand_breadcrumb {
		margin: 0 0 10px 20px; 
    *margin-top: 40px;
	}
	
	#footerpageList a:hover {
		text-decoration: underline;
	}
  
  #footerpage .footerpagebg {
    margin: 0px;
    padding: 0px;
  }
